<div id="block1">
  <div id="attendance">
    <b>Attendance</b>
  </div>
  <div id="table1">
    <table border='1'>
      <tr>
        <th>Frequencies</th>
        <th>(Days)</th>
      </tr>
        
      <tr>
        <td>No. Times School Open</td>
        <td></td>
      </tr>
        
      <tr>
        <td>No. of times Present</td>
        <td></td>
      </tr>
      <tr>
        <td>No. of times Absent</td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
<br />
<div>
  <table border='1' >
    <tr>
      <th>Frequencies</th>
      <th>(Days)</th>
    </tr>
      
    <tr>
      <td>No. Times School Open</td>
      <td></td>
    </tr>
      
    <tr>
      <td>No. of times Present</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<br />
<div>
  <table border='1'>
      
    <tr>
      <td>No of class Mates</td>
      <td></td>
    </tr>
      
    <tr>
      <td>Class Mates Male</td>
      <td></td>
    </tr>
    <tr>
      <td>Class Mates Female</td>
      <td></td>
    </tr>
  </table>
</div>
<br />



