fsdf
<div>
  <table border="1">
    <tr>
      <th>Frequencies</th>
      <th>(Days)</th>
    <tr>
      
    <tr>
      <td>No. Times School Open</td>
      <td></td>
    <tr>
      
    <tr>
      <td>No. of times Present</td>
      <td></td>
    <tr>
    <tr>
      <td>No. of times Absent</td>
      <td></td>
    <tr>
  </table>
</div>