<br /><br /><br /><br /><br />
<table>
  <tr>
    <th><%= link_to "Nursery", :controller => "preports", :action => "nursery" %></th>
  </tr>
  <tr>
    <th><%= link_to "Primary", :controller => "preports", :action => "primary" %></th>
  </tr>
  <tr>
    <th><%= link_to "Junior Secondary", :controller => "preports", :action => "junior_secondary" %></th>
  </tr>
  <tr>
    <th><%= link_to "Senior Secondary", :controller => "preports", :action => "senior_secondary" %></th>
  </tr>
</table>