#admission1_form {
    padding-left:50px;
    border: solid black 1px;
}
#autofill-area .label-field-pair {
    margin:0 95px 10px 0;
}
#admission1_form_vertical_block_left {
    padding-bottom: 20px;
}
.label_field_pair {
    width:600px;
    height: 52px;
    padding-top: 3px;
}

.label_field_pair label.label_for_gender {
    font-weight:normal;
    display:inline;
}
#admission1_form_vertical_block_right {
    padding-bottom: 20px;
}

#for-admission-page-office-records {
  border: solid black 2px;
  height: 50px;
  border-right: 5px;
  margin-top: 5px;
}

#student-details {
  overflow: hidden;
  padding: 3px;
  float: left;
  width: 500px;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 30px;
  background-color: #979797;
}

#parents-details {
  border: solid black 1pz;
  overflow: hidden;
  padding: 3px;
  float: left;
  width: 500px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 30px;
  background-color: #979797;
}

#date-form {
  float: right;
  height: 150px;
  margin-right: 8px;
  margin-top: 2px;
  width: 395px;
}


#date-purchased {
  float: right;
  height: 10px;
  margin-right: 167px;
  margin-top: 8px;
  width: 185px
}

#form-number {
  float: right;
  height: 93px;
  margin-right: 8px;
  margin-top: 2px;
  width: 324px;
}

#upload-photo {
  border: 1px solid black;
  float: right;
  height: 204px;
  margin-right: -386px;
  margin-top: 110px;
  width: 237px;
}

.parents-details-field {
  height: 70px;
  width: 900px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.underline-parents-details-field-underline-left {
  float: left;
  width: 300px;
  margin-top: 40px;
}

.underline-parents-details-field-underline-right {
  float: right; 
  width: 300px;
  margin-top: 40px;
}

#parents-details-field-label {
  margin: 27px 337px -67px;
}

.label_field_pair1 {
    width:285px;
    float:left;
    padding-top:40px;
}
.label_field_pair11 {
    width:185px;
    float:right;
    padding-top:40px;
}
.label_field_pair label {
    padding-top: 10px;
    display:block;
    color:#444;
    margin-bottom:10px;
    font-size: 14px;
    font-weight: 600;
}
.label_for_student_gender{
    display:block;
    color:#444;
    margin-bottom:10px;
    width:200px;
    float:left;
}
.student_gender_value{
    width:300px;
    float:left;
    padding-top: 5px;
}
.label_field_pair label.label_for_gender {
    font-weight:normal;
    display:inline;
}

input[type="text"],
input[type="password"],
textarea,
select
{
    outline: none;
    border:none;
    border-bottom:1px solid grey;
}


#name_field_block {
    clear:both;
    padding-bottom:20px;
}
#name_field_block .text-input-bg {
   
    float:left;
    border : 1px solid #c6c6c6;
    margin : 5px 0 0 10px;
    width : 180px;
    height:23px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding-top: 3px;
}



#name_field_block label {
    font-weight:bold;
    display:block;
    margin-bottom:10px;
}

#name_field_block input {
    background:transparent;
    border:0;
    color:#000;
    padding-left:10px;
    width:165px;
}


.date {
  border: solid black 2px;
  float: right;
  margin-right: 10px;
  height: 50px;
}

.form {
  border: solid black 2px;
  float: right;
  margin-right: 10px;
  height: 50px;
}


.label-underline0{
    background: black;
    height: 1px;
    width: 480px;
    border: none;
    margin-left: 10px;
}

.label_field_pair input[type="text"] {
    width:210px;height:28px;
    background:transparent;
    border:none;
    padding-left:10px;
    padding-top:5px;
}
.label_field_pair select {
    background : #eee;
    border: none;
    height: auto;
    margin: 5px 0 0 5px;
    width: 220px;
}
.label_field_pair .label_for_gender {
    margin:0;
    display:block;
    padding-top:5px;
    padding-right:10px;
    padding-left:10px;
}
#student_gender_true,
#student_gender_false {
    margin:0;
    padding:0;
    width:20px;
    display:inline;
    margin-bottom:10px;
    display:block;
    float:left;
}
#create_user {
    display:inline;
}
#address_text_area {
    width:232px;
    height:162px;
    background:#fff url(../../images/admission/address_area_bg.jpg) no-repeat;
    margin-bottom:40px;
}
#student_address,
#parent_detail_office_address {
    padding-left:10px;
    padding-top:5px;
    width:222px;
    height:162px;
    border:none;
    background:transparent;
    color:#b00;
    font-weight:bold;
}
#create_user_option {
    display:inline;
    margin:0px;
    padding:0px;
}
.submit_button {
    margin-top:30px;
    margin-left:270px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    font-weight: bold;
    font-size: 14px;
    border:none;
    font-family: arial;
    cursor:pointer;
}
.submit_button:hover{
    background:  #373B3F;
}
.submit_button3 {
    margin-top:30px;
    margin-left:50px;
    float:left;
}
.text_display {
    width:230px;
    height:28px;
    background:#fff url(../../images/admission/text_input.jpg) no-repeat;
    margin-bottom:20px;
    color:#b00;
    font-weight:bold;
    padding-left:10px;
    padding-top:3px;
}
.necessary-field {
    color : #f00;
    font-size : 1.1em;
}
#necessary-field-notification {
    font-weight : bold;
    padding : 10px 0 30px 0;
}

#create_user{
    display:none;
}
.student_admission_date {
    float:left;
    height:42px;
    width:450px;
    margin-top: 3px;
}
.student_admission_date label {
    color:#444444;
    display:block;
    float:left;
    margin:0 0 10px;
    padding-top: 10px;
    font-weight: 600;
    font-size: 14px;
}
.text-input-bg-admission input  {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px;
    background:none repeat scroll 0 0 #EEEEEE;
    border:1px solid #C6C6C6;
    height:17px;
    margin:5px 0 0 10px;
    padding:5px;
    width:205px;
    text-align: left;
}
input#student_image_file {
    height:24px;
}
.sub-heading{
    background:#9E0F15;
    height: 1px;
    border: none;
    margin-bottom: 15px;
}
.span-sub-heading{
    font-weight: bold;
    padding-top:10px;
}
.label-underline{
    background:  #eeeeee;
    height: 1px;
    border: none;
}

.label-underline-half{
    background:  black;
    height: 1px;
    width: 325px;
    margin-top: 30px;
    border: none;
}

.label-left-half-underline{
    background:  black;
    height: 1px;
    width: 515px;
    float: left;
    margin-top: 13px;
    border: none;
}

.label-underline-full{
    background:  black;
    height: 1px;
    width: 892px;
    float: left;
    margin-top: 13px;
    border: none;
}

.label-full-underline{
   background: none repeat scroll 0 0 black;
   border: medium none;
   height: 1px;
   margin-left: 2px;
   margin-top: 5px;
   width: 893px;
}

.text-input-bg-admission input:focus{
    background: #fff;
    border: 1px solid #9e0f15;
}

input#student_photo{
    height: 28px;
}